<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is a figure</title>
  </head>
  <body>
    <h1>Figure: <%= @figure.name %></h1>
    <% @figure.landmarks.each do |landmark| %>
      <%= landmark.name %>
    <% end %>
  </body>
</html>
